[submodule "vendor/coqhammer"]
	path = vendor/coqhammer
	url = https://github.com/lukaszcz/coqhammer.git
	branch = rocq-9.1
[submodule "vendor/rocq-piler"]
	path = vendor/rocq-piler
	url = https://github.com/scidonia/rocq-piler.git
